astroid==2.3.3
boto3==1.12.35
botocore==1.15.35
docutils==0.15.2
grpc-tools==0.0.1
grpcio==1.27.2
grpcio-tools==1.27.2
isort==4.3.21
jmespath==0.9.5
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.1
pandas==1.0.1
protobuf==3.11.3
pylint==2.4.4
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.3.3
scipy==1.4.1
six==1.14.0
urllib3==1.26.5
wrapt==1.11.2
